@model IEnumerable<Mobit.Models.Products>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}


<form action="Details" method="post" enctype="multipart/form-data">


    <!-- Content page -->
    <section class="bgwhite p-t-55 p-b-65">
        <div class="container">
            <div class="row">


                <div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
                    <!--  -->
                    <!-- Product -->


                    <div class="row">
                        @foreach (Mobit.Models.Products product in Model)
                        {
                            <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
                                <!-- Block2 -->
                                <div class="block2">
                                    <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                                        <a href="@Url.Action("Details","Home",new { id = product.ProductId })">
                                            <img src="@Url.Content(product.ImagePath)" alt=""  height="350" />
                                        </a>
                                    </div>
                                    <div class="block2-txt p-t-20">
                                        <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                                            @product.ProductName
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                        
                        <!-- Pagination -->
                        <div class="pagination flex-m flex-w p-t-26">
                            <a href="#" class="item-pagination flex-c-m trans-0-4 active-pagination">1</a>
                            <a href="#" class="item-pagination flex-c-m trans-0-4">2</a>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </form>


























